<div class="form-container">
    <h2>Adicionar Produto</h2>
    <form id="product-form">
        <input type="text" id="product-name" placeholder="Nome do Produto" required>
        <input type="text" id="product-category" placeholder="ID da Categoria" required>
        <input type="text" id="product-brand" placeholder="ID da Marca" required>
        <input type="text" id="purchase-price" placeholder="Valor de Compra" required>
        <input type="text" id="selling-price" placeholder="Valor de Venda" required>
        <input type="number" id="product-quantity" placeholder="Quantidade" required>
        <button type="submit">Adicionar</button>
    </form>
    <h2>Produtos</h2>
    <ul id="product-list"></ul>
</div>