<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Vendas - Adega</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1><a href="/" class="home-link">Sistema de Adega</a></h1>

  <div class="pagina-vendas-diarias">
    <div class="form-container">
      <h2>Vendas Diárias</h2>
      <button id="daily-sales-refresh">Atualizar</button>
      <ul id="daily-sales-summary">
        <li><strong>Total de Vendas:</strong> R$<span id="daily-total-sales">0.00</span></li>
        <li><strong>Lucro Total:</strong> R$<span id="daily-total-profit">0.00</span></li>
        <li><strong>Formas de Pagamento:</strong></li>
        <ul id="daily-payment-methods"></ul>
      </ul>
    </div>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
